body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #000000;
    }
    header {
      background-color: #000000 !important;
      width: 100%;
      color: white;
      text-align: center;
    }
    header h1 {
      margin: 0;
      font-size: 28px;
    }
    .logo {
      margin-top: 15px;
      max-width: 150px;
      height: auto;
    }
    .container {
      max-width: 900px;
      margin: auto;
      padding: 20px;
    }
    .address {
      color: white;
    }
    .hero {
      background: #0a0a0a;
      color: white;
      padding: 8px;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .hero h2 {
      margin-top: 0;
    }
    .social-buttons {
      margin:15px
    }
    .button {
      margin: 5px;
      width: 183px;
      display: inline-block;
      padding: 12px 20px;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }
    .button.whatsapp {
      background: #25d366;
    }
    .button.instagram {
      background: #c725d3;
    }
    .products {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 30px;
      justify-content: center;
    }
    .product {
      background: #0a0a0a;
      flex: 1 1 280px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
      text-align: center;
      color: white;
    }
    .product h3 {
      margin: 10px 0 5px;
      font-size: 18px;
      color: white;
    }
    .product p {
      font-size: 14px;
      margin-bottom: 15px;
    }
    .product img.gallery-img {
      width: 400px;
      height: 400px;
      object-fit: contain;
      border-radius: 5px;
    }
    footer {
      text-align: center;
      padding: 20px;
      font-size: 20px;
      font-weight: bolder;
      color: white;
    }
    .carousel {
      position: relative;
      width: 100%;
      max-width: 400px;
      height: 400px;
      margin: 0 auto 10px;
      overflow: hidden;
    }

    .carousel-img {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 5px;
    }

    .carousel-img.active {
      display: block;
    }

    .carousel button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255,255,255,0.2);
      color: white;
      border: none;
      font-size: 24px;
      cursor: pointer;
      padding: 8px 12px;
      border-radius: 4px;
      z-index: 1;
    }

    .carousel button:hover {
      background-color: rgba(255,255,255,0.4);
    }

    .carousel .prev {
      left: 10px;
    }

    .carousel .next {
      right: 10px;
    }